* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(21, 25, 46);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

table,
tr,
th,
td {
  border: solid white 3px;
}

.flex-container {
  /* height: 1000px; */
  background: yellow;
  display: flex;

  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* justify-content: space-bet ween; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* align-items: stretch; */
  /* align-items: flex-start; */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-self: center; */
  /* justify-content and align-items are important */
}

.flex-item {
  background: grey;
  border: 5px solid rgb(85, 80, 80);
  margin: 10px 10px;
}

.flex-item1 {
  min-height: 200px;
  width: 150px;
  flex-shrink: 0;
  flex-grow: 2;
  flex-basis: 0px;
}
.flex-item2 {
  min-height: 100px;
  width: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  align-self: center;
}
.flex-item3 {
  min-height: 220px;
  width: 150px;
  order: 1;
}
.flex-item4 {
  min-height: 75px;
  width: 150px;
  align-self: flex-end;
}

.all-pick {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.hero-team {
  display: flex;
  justify-content: space-around;
}
.hero-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100px;
  max-width: 400px;
}
.hero-gif {
  min-width: 250px;
  height: 450px;
  border: 2px solid rgb(206, 201, 201);
  /* background: rgb(15, 16, 71); */
  align-self: center;
  border-radius: 20px;
  background-image: url("../images/tenor.gif");
  background-position: center center;
  background-size: cover;
}

div > img {
  width: 100px;
  margin: 0;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 7px;
  padding-top: 20px;
}

.zoom {
  transition: transform 0.1s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.7
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* ############################################################## */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10%;
}
.nav-ul {
  list-style: none;
  justify-content: space-evenly;
}
.nav-ul-items {
  display: inline-block;
  padding: 0 20px;
}
.nav-ul-items a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav-ul-items a:hover {
  color: rgb(28, 162, 224);
}

.logo {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  background-image: url("../images/dota_logo.svg");
  transition: all 0.2s;
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  color: white;
  padding: 9px 25px;
  border-radius: 20px;
  border: none;
  background-color: rgba(28, 162, 224, 1);
}
button:hover {
  background-color: rgba(28, 162, 224, 0.7);
}
.logo:hover {
  background: url("../images/dota_logo_2.svg");
}
