*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
body{
  background: rgb(21, 25, 46);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
ul li{
  display: inline-block;
  margin: 0 2vw;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.navbar{
  margin: 2em auto;
  min-width: 1200px;
}
.info1{
  padding: 0 2em;
  width: 450px;
}
.info1 h3{
  padding: 0.3em 0 0 0.3em;
  float: right;
  font-size: 1.5em;
  font-weight: 400;
}
.info1 img{
  border-radius: 15%;
  border: 1px solid white;
}

.horizontal-scroll-wrapper {
  width: 300px;
  height: 50vw;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(60px);
  padding-top: 300px;
}

.horizontal-scroll-wrapper > div {
padding-top:50px ;
  width: 300px;
  height: 300px;
  transform-origin: right top;
  transform: rotate(90deg);
  text-align: center;
  }
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
